/* ************************* */

/* EVT 2.0 CUSTOM STYLESHEET */

/* ***************************************************************** */

/*                                                                   */

/* Add here your CSS to customize the style of the elements          */

/* If you'll not see any changes, try adding !important to the rule  */

/*                                                                   */

/* For generic TEI elements, use the tagName as class                */

/* e.g. <del/> => .del{ # your style goes here # }                   */

/*                                                                   */

/* ***************************************************************** */


.title {
 font-style: italic;   
    
    
    
}

.del {
    text-decoration: line-through;
}



.subst {

    font-weight: bold;

}

.corr {

    width: 5rem;
    height: auto;

}



/* ############# 1st edition ########## */




.byline {

    font-size: 1.3vw;

}



.epigraph {

    text-align: left; /* corriger */
    font-size: 0.625rem;
    line-height: 0.625rem; /* corriger */

}


/*  ############ manuscrit ################ */
